[Unit]
Description=Typesense server
After=network.target
Wants=network-online.target
After=network-online.target

[Service]
User=typesense
Group=typesense
Type=simple
Restart=on-failure

SyslogIdentifier=typesense-server
ExecStart=/usr/bin/typesense-server --config=/etc/typesense/typesense-server.ini

PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

RestrictNamespaces=yes

SystemCallArchitectures=native
AmbientCapabilities=
CapabilityBoundingSet=
NoNewPrivileges=yes

WorkingDirectory=/var/lib/typesense
ReadWritePaths=/tmp /var/tmp /var/lib/typesense /etc/typesense

[Install]
WantedBy=multi-user.target
